body {
  background-color: #fcd8d4;
}

h3 {
  color: grey;
}

hr {
  background-color: #f5c6aa;
  border: none;
  height: 1px;
}

li {
  color: #ffaaa7;
  font-size: 16px;
  list-style: none;
}

a {
  color: #ec6f4d;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.footer {
  color: #fff;
  font-size: 11px;
  font-family: monospace;
}

.fore-day {
  font-size: 16px;
  font-weight: bold;
}

.fore-temp {
  font-size: 11px;
}

.forecast-wrapper,
p {
  color: #f5c6aa;
  text-align: center;
}

.max {
  font-weight: bold;
  color: #ffaaa7;
}

.row.fore-ico,
img {
  text-align: center;
  width: 54px;
  height: 54px;
}

.temp-icon {
  font-size: 63px;
}

.temp-status {
  padding-left: 0;
}

.temp-units {
  color: grey;
  font-size: 18px;
  position: relative;
  top: -36px;
}

.weather-card {
  background-color: #fdf6f0;
  padding: 20px;
  border: 1px solid #f8e2cf;
  border-radius: 12px;
  box-shadow: 0px 27px 81px #fe9898;
}

#curr-clouds {
  text-transform: capitalize;
}

#curr-img {
  width: 80px;
  height: 80px;
}

#input-search {
  border-color: #f5c6aa;
  display: inline;
}

#temp-number {
  color: grey;
}

#search-form {
  margin: 9px auto 18px auto;
}

#submit-search {
  border-color: #ffaaa7;
  background-color: #ffaaa7;
  display: inline;
}

#submit-search:hover {
  border-color: #ffaaa7;
  background-color: #ec6f4d;
  display: inline;
}
